include ../layouts/layoutBS
.container
    h1.mt-3
    div.mt-3
        h1 Update id=#{id} title=#{title}
        p
            | Update new Book into our inventory
        if ( product == null )
            h2 Sorry product is null
    div.mt-2
        form(action='/postUpdateProduct' method='post')
            .form-group
                input.form-control(type='hidden' name='productId' value= product.id )
            .form-group
                label(for='titleId') Title
                input.form-control(type='text' aria-describedby='emailHelp' id='titleId' name='title' value= product.title )
            .form-group
              label(for='authorId') Author
              input.form-control(type='text' aria-describedby='emailHelp' id='authorId' name='author' value= product.author )
            .form-group
                label(for='priceId') Price
                input.form-control(type='text' aria-describedby='emailHelp' id='priceId' name='price' value= product.price )
            button.btn.btn-primary(type='submit') Update This Record