include ../layouts/layoutBS
.container
    h1.mt-3
    div.mt-3
        h1 Add New Book
        p
            | Add a new Book into our inventory
    div.mt-2
        form(action='/product' method='post')
            .form-group
                label(for='titleId') Title
                input.form-control(type='text' aria-describedby='emailHelp' id='titleId' name='title' placeholder='Enter title')
            .form-group
              label(for='authorId') Author
              input.form-control(type='text' aria-describedby='emailHelp' id='authorId' name='author')
            .form-group
                label(for='priceId') Price
                input.form-control(type='text' aria-describedby='emailHelp' id='priceId' name='price')
            button.btn.btn-primary(type='submit') Submit