include layouts/layout1
h1 #{title}
p #{subTitle}
if gotMilk
    p Hey nice you got milk
else
    p No milk for you
if age <= 16
    p
        span(style='color: red')  No Drive
else
    p  You you can drive
h2 And Now the list
ol
    each p in pList
        li= p
