<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop my Site </title>
    <link rel="stylesheet" href="/css/main2.css">
</head>
<body>
<header class="main-header">
    <nav class="main-nav-list">
        <li class="nav-item"><a class="active" href="/shop">Shop</a></li>
        <li class="nav-item"><a href="/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>
<h2> Book Sellers Inc</h2>
Here is a list of products
<ol>
  <li> The Hobbit </li>
  <li> The FellowShip</li>
  <li> The Two Towers</li>
  <li> The Return of the King</li>
</ol>
</body>
</html>