#grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 700px;
}
header {
    display: inline;
    background-color: yellow;
    list-style:none;
    grid-column: 1/4;
    text-align: center;
    border:1px solid black;
}
.Left {
    background-color:palegoldenrod;
    border:1px solid black;
    padding-left: 20px;
}
.Center {
    background-color:palegoldenrod;
    border:1px solid black;
    padding-left: 20px;
}
.Right {
    background-color:palegoldenrod;
    border:1px solid black;
    padding-left: 20px;
    padding-top: 20px;
}

.navbar-custom {
    background-color: #98bf21;
    height: 120px;
}
.nav-link {
    color:blue !important
}
.square {
    height: 50px;
    width: 50px;
    border: solid cornflowerblue;
}
button {
    background-color: dodgerblue;
    color: white;
    border-radius: 12px;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
table {
    border-collapse: collapse;
}