doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Page Not Found
    link(rel='stylesheet' href='/css/main2.css')
header.main-header
    nav.main-nav-list
        li.nav-item
            if from == 'showProducts'
                a.active(href='/showProducts') Shop
            else
                a(href='/showProducts') Shop
        li.nav-item
            if from == 'addProduct'
                a.active(href='/add-product') Add Product
            else
                a(href='/add-product') Add Product
h2 #{from}