include ../layouts/layoutBS
.container
    h1.mt-4
    h1.mt-4 #{title}
    p

    if products.length == 0
        h2 Sorry no current products
    else
        table.table.table-striped
            thead
                tr
                    th(scope='col') Title
                    th(scope='col') Author
                    th(scope='col') Price
            tbody
                each p in products
                    tr
                       td= p.title
                       td= p.author
                       td= p.price
